GOOGLE_CLIENT_ID=1234567890-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_SHEET_ID=ID_DA_SUA_PLANILHA
GOOGLE_SERVICE_ACCOUNT_EMAIL=allin-backend@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"
ADMIN_EMAIL=seuemail@gmail.com
SESSION_SECRET=gere-uma-string-aleatoria-com-pelo-menos-32-bytes
